@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@848&display=swap');

body {
    font-family: Nunito;
}

header { 
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.sign-in { 
    float: right;
}


header nav ul {
    list-style: none;
    float: left;
}

header nav ul li {
    display: inline-block;
}

li + li {
    padding-left: 20px;
}


a {
    text-decoration: none;
}