@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@848&display=swap');

body {
    font-family: Nunito;
    margin:0;
}

header { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(12,104,191);
    height: 55px;
}

.logo {
    display: flex;
    align-items: center;
    color: white; 
}





.sign-in button {
    background-color: rgb(12,104,191);
    border-color: white;
    border-radius: 1.8em;
    border-style: solid;
    padding: 10px;
    color: white;
    font-family: Nunito;
    cursor: pointer;
}

.sign-in button:hover {
    background-color: white;
    color: rgb(12,104,191);
}


header nav ul {
    list-style: none;
    float: left;
    flex-flow: row nowrap;
}

header nav ul li {
    display: inline-block;
}

li + li {
    padding-left: 20px;
}


a {
    text-decoration: none;
    color: white; 
}

.content-1 { 
 background-image: url("Images/Steve.jpg");
 background-repeat: no-repeat;
 background-position: 50%;
 height: 550px;
 display:flex;
 flex-direction: column;
 align-items: center;
 padding-bottom: 125px;


}

.Community {
color:black;}

.content-2 {
    background-color: rgb(12,104,191);
    color: white;
    height: 650px;
    margin-top: 0;
    display: grid;
}

.features {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

h2 {
    padding: 20px;
    width: 50%;
}

.feature1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    padding: 20px;
}

.feature2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 20px;
}

.feature3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 20px;
}

.feature4 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 20px;}

.Join{
    margin-left: 400px;
    background-color: white;
    border-color:rgb(12,104,191);
    border-radius: 1.8em;
    border-style: solid;
    padding: 10px;
    color: rgb(12,104,191);
    font-family: Nunito;
    cursor: pointer;
}

.Join:hover {
    background-color: rgb(12,104,191);
    color: white;
}

.features button {
    background-color: rgb(12,104,191);
    border-color: white;
    border-radius: 1.8em;
    border-style: solid;
    padding: 10px;
    color: white;
    font-family: Nunito;
    cursor: pointer;
}

.features button:hover {
    background-color: white;
    color: rgb(12,104,191);
}